img {
    width: 90%;
    padding: 0% !important;
    margin: 0% !important;
}
@media only screen and (max-width: 600px){
    .card{
        /* margin-bottom: 40px; */
    }
    a{
        width: 100%;

    }

}