img {
    width: 240px;
    margin: 2px;
}

.footer-copyright {
    font-size: 60%;
}



@media only screen and (max-width: 600px){
    .piximg {
        width: 160px !important;
        margin: 2px;
        height: 150px;
    }
}