.jumbotron {
    height: 210px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    /* background-color:rgb(189, 8, 212); */
    color:black;
    padding-top: 40px;

}

.jumbotron h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    text-align: center;
}

p {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    text-decoration:none;
    color:black;
}

#label, h5  {
    color:white;
    font-family: 'Press Start 2P', cursive;

}

@media only screen and (max-width: 600px){
    .jumbotron{
        height: 7%;
        padding-bottom: 10px;
    }
    .jumbotron h1 {
        font-size: 30px;
        text-align: center;
    }
    .jumbotron p {
        font-size: 15px;
        text-align: center;

    }
}