/* You can add global styles to this file, and also import other style files */
body {
    background-color: black !important;
    font-family: 'Press Start 2P', cursive;
}

#iconic {
    border-radius: 50px;
}